<div *ngIf="showError" class="alert alert-danger" role="alert">
  <div class="text-center">
    An error occured while getting weather data
  </div>
</div>
<div class="container pt-4">
  <div class="row">
    <div class="col-lg-4">
      <img [src]="image" alt="img_weather" width="300px" height="300px">
    </div>
    <div class="col-lg-6 form">
      <input type="text" [(ngModel)]="city" class="form-control form-control-lg size" placeholder="Enter city">
      <div class="d-grid gap-2 mt-4">
        <button (click)="getWeather()" class="btn btn-dark size" [disabled]="city == ''" type="button">GET WEATHER</button>
      </div>
      <div *ngIf="loading" class="text-center mt-3">
        <div class="spinner-grow" role="status"></div>
        <div class="spinner-grow" role="status"></div>
        <div class="spinner-grow" role="status"></div>
      </div>
      <div class="card mt-3">
        <div class="card-body">
          <p><b>Temperature: </b> {{ temperature | number: '1.2-2'}} °C</p>
          <p><b>Humidity: </b> {{ humidity }} </p>
          <p><b>Weather: </b> {{ weather }} </p>
        </div>
      </div>
    </div>
  </div>
</div>
