<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">{{title}}</span>
    <span class="navbar-brand mb-0 h1"><a target="_blank" href="https://gitlab.com/alpertoy/weather-app"><img src="assets/images/gitlab.png" width="50" height="50" alt="logo">Gitlab Repository</a></span>
  </div>
</nav>
